<v-card-title>Données personnelles</v-card-title>
<v-card-text>
    <v-row class="align-center">
        <v-col cols="auto"><v-icon large>mdi-email</v-icon></v-col>
        <v-col><p class="text-body-1">${item.email}</p></v-col>
    </v-row>
    <v-row class="align-center">
        <v-col cols="auto"><v-icon large>mdi-phone</v-icon></v-col>
        <v-col><p class="text-body-1">${item.number}</p></v-col>
    </v-row>
    <v-row class="align-center">
        <v-col cols="auto"><v-icon large>mdi-account-school</v-icon></v-col>
        <v-col><p class="text-body-1">${item.diplomas}</p></v-col>
    </v-row>
    <v-row class="align-center">
        <v-col cols="auto"><v-icon large>mdi-calendar-range</v-icon></v-col>
        <v-col><p class="text-body-1">${item.birthday}</p></v-col>
    </v-row>
</v-card-text>
