{% extends 'main.html' %}

{% block title: %}Profiles{% endblock %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .v-card--reveal {
            align-items: center;
            bottom: 0;
            justify-content: center;
            opacity: 0.9;
            position: absolute;
            width: 100%;
        }

        #overlay .v-overlay__content {
            width: 100%;
        }

        .data-table-footer-select-width {
            width: 48px;
        }

        tbody tr:nth-of-type(odd) {
            background-color: rgba(160, 160, 160, 0.05);
        }

        /deep/ .v-menu__content {
            max-width: 80px;
        }
    </style>
</head>

<body>
    <div id="app" style="width: 100%;">
        <v-app>
            <v-main>
                <v-data-table-server :headers="headers" :items="profiles" :items-length="totalProfiles"
                    :loading="loading" show-expand @update:options="fetchProfiles" :expanded.sync="expandedRows"
                    @click:row="onRowClick" no-data-text="Pas de profils" autowidth>

                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title class="text-h4">Profils</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" style="height: 100%; width: 75%;">
                                {% if perms.profiles.add_profile %}
                                <template v-slot:activator="{ props }">
                                    <v-btn class="mb-2 text-h6" color="blue-darken-4 " rounded="45" variant="flat" dark
                                        v-bind="props" @click="editItem({})">
                                        Créer
                                    </v-btn>
                                </template>
                                {% endif %}

                                <v-form v-model="form" method="POST" action="{% url 'profiles_create' %}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" id="profile-id" :value="editedItem.id">
                                    <v-card>
                                        <v-card-title>
                                            <span class="text-h4">${formTitle}</span>
                                        </v-card-title>
                                        <v-card-text class="p-2">
                                            <!-- <span class="text-red">${similarityMessage}</span> -->
                                            <v-alert v-if="similarityMessage" :text="similarityMessage"
                                                type="warning"></v-alert>
                                            <v-row cols="12">
                                                <v-col cols="4">
                                                    <!-- {{is_editor_or_admin}} -->
                                                    <v-text-field v-model="editedItem.surname" label="Nom"
                                                        name="surname" prepend-inner-icon="mdi-account"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-text-field>
                                                </v-col>
                                                <v-col cols=" 4">
                                                    <v-text-field v-model="editedItem.name" label="Prénom" name="name"
                                                        variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.town" label="Localisation"
                                                        name="town" prepend-inner-icon="mdi-map-marker"
                                                        variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.email" label="E-mail" name="email"
                                                        :rules="[rules.email]" prepend-inner-icon="mdi-at"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.number" label="Numéro"
                                                        name="number" prepend-inner-icon="mdi-phone"
                                                        :rules="[rules.number]" variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-textarea v-model="editedItem.diplomas" label="Diplômes"
                                                        name="diplomas" prepend-icon="mdi-certificate" rows="2"
                                                        auto-grow variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-textarea>
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.birthday"
                                                        label="Date de naissance" name="birthday"
                                                        prepend-inner-icon="mdi-calendar-range"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-text-field>
                                                    <!-- <v-date-input v-model="editedItem.birthday"
                                                        prepend-inner-icon="mdi-calendar-range" prepend-icon=""
                                                        label="Date de naissance" name="birthday"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-date-input> -->
                                                </v-col>
                                            </v-row>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="12">
                                                    <span class="text-h5">Compétences</span>
                                                    <v-chip-group v-if="true" v-model="editedItem.skills" column
                                                        selected-class="text-green" multiple>
                                                        <v-chip v-for="(skill, i) in skills" :key="skill" :value="skill"
                                                            text variant="outlined" filter>
                                                            ${ skill.name }
                                                        </v-chip>
                                                    </v-chip-group>
                                                    <input type="hidden" name="skills"
                                                        :value="editedItem.skills?.map(s => s.id) || []">
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="6">
                                                    <span class="text-h5">Formations</span>
                                                    <v-chip-group v-if="true" v-model="editedItem.trainings" column
                                                        selected-class="text-green" multiple>
                                                        <v-chip v-for="(training, i) in trainings" :key="training"
                                                            :value="training" text variant="outlined" filter>
                                                            ${ training.name }
                                                        </v-chip>
                                                    </v-chip-group>
                                                    <input type="hidden" name="trainings"
                                                        :value="editedItem.trainings?.map(t => t.id) || []">
                                                </v-col>
                                                <v-col cols="6">
                                                    <span class="text-h5">Statut du candidat</span>
                                                    <v-chip-group v-if="true" v-model="editedItem.state" column
                                                        selected-class="text-blue">
                                                        <v-chip v-for="(state, i) in profileStates" :key="state"
                                                            :value="state" text variant="outlined" filter>
                                                            ${ state.name }
                                                        </v-chip>
                                                    </v-chip-group>
                                                    <input type="hidden" name="state"
                                                        :value="editedItem.state?.id || null">
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="6">
                                                    <v-textarea v-model="editedItem.comment" label="Commentaires"
                                                        name="comment" prepend-icon="mdi-comment"
                                                        variant="underlined"></v-textarea>
                                                </v-col>
                                                <v-col cols="6">
                                                    <v-textarea v-model="editedItem.followup" label="Suivi interne"
                                                        name="followup" prepend-icon="mdi-timeline-check"
                                                        variant="underlined"></v-textarea>
                                                </v-col>
                                            </v-row>
                                            <span class="text-h5">Fichiers</span>
                                            <v-row cols="12" v-if="true">
                                                <v-col cols="3">
                                                    <div class="image-upload mt-2 ">
                                                        <label for="files">
                                                            <span
                                                                class="border-dashed rounded-lg grey-lighten-1 pa-2">Choisir
                                                                des fichiers</span>

                                                        </label>

                                                        <input name="files" id="files" type="file" multiple
                                                            style="display: none;" @change="handleFileChange"
                                                            accept=".jpg,.jpeg,.png,.pdf,.docx" />
                                                    </div>
                                                </v-col>
                                                <v-col cols="9" class="align-center">
                                                    <div v-if="selectedFiles.length" class="h-100">
                                                        <v-chip v-for="(file, index) in selectedFiles" :key="index"
                                                            class="mr-2 h-100" outlined>
                                                            ${file.name}
                                                        </v-chip>
                                                    </div>
                                                </v-col>
                                                <v-alert
                                                    text="Seules les pièces jointes PDF, JPG et PNG seront incluses dans l'export PDF du profil"
                                                    type="warning"></v-alert>

                                            </v-row>

                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn :loading="loading" class="text-none mb-4 right" color="green"
                                                type="submit" size="x-large" variant="flat" block>
                                                Enregistrer
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    </form>
                            </v-dialog>

                        </v-toolbar>
                        {% include 'components/pagination/toolbar.html' %}
                    </template>

                    {% include 'components/datatable/skills_column.html' %}
                    {% include 'components/datatable/trainings_column.html' %}


                    <template v-slot:expanded-row="{ columns, item }">
                        <td :colspan="columns.length">
                            <v-card v-if="true" id="expand-div" style="display: flex; ">
                                <v-row no-gutters>
                                    <v-col cols="4">
                                        <v-card v-if="true" flat style="flex-basis: 100%">
                                            {% include 'components/personal_info.html' %}
                                            {% include 'components/file_list.html' %}
                                        </v-card>
                                    </v-col>
                                    <v-col cols="4">
                                        {% include 'components/comments_list.html' %}
                                    </v-col>
                                    <v-col cols="4">
                                        {% include 'components/followups_list.html' %}
                                    </v-col>
                                </v-row>
                            </v-card>
                        </td>
                    </template>

                    {% include 'components/datatable/actions_column.html' %}
                </v-data-table-server>

                <v-dialog v-model="dialogDelete" style="width: 50%;">
                    <v-card>
                        <v-card-title class="text-h6">Êtes-vous sûr(e) de vouloir supprimer le profile
                            ?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Annuler</v-btn>
                            <v-btn color="white" class="bg-red" variant="text"
                                @click="deleteItemConfirm">Supprimer</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>

    <script type="module">
        const { createApp, ref, onMounted, computed, watch, nextTick } = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        const app = createApp({
            setup() {
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Simplified email regex
                const phonePattern = /^\d{10}$/; // Matches exactly 10 digits
                var rules = {
                    email: value => {
                        if (!value) return true; // No error if the field is empty
                        return emailPattern.test(value) || "L'email n'est pas valide"; // Validate email format
                    },
                    number: value => {
                        if (!value) return true; // No error if the field is empty
                        return phonePattern.test(value) || "Le numéro de téléphone doit contenir 10 chiffres"; // Validate phone number
                    }
                };
                const headers = [
                    // { title: 'Date de création', key: 'creation_date', sortable: true },
                    { title: 'Modifié', key: 'update_date', sortable: true },
                    { title: 'Nom', key: 'surname', sortable: true },
                    { title: 'Prénom', key: 'name', sortable: true },
                    // { title: 'Email', key: 'email', sortable: false },
                    // { title: 'Numéro', key: 'number', sortable: false },
                    { title: 'Ville', key: 'town', sortable: true },
                    { title: 'Compétences', key: 'skills', sortable: false },
                    { title: 'Formations', key: 'trainings', sortable: false },
                    // { title: 'Etat', key: 'state', sortable: true },
                    { title: 'Etat candidature', key: 'state.name', sortable: true },
                    // { title: 'Diplômes', key: 'diplomas', sortable: false },
                    // { title: 'Commentaires', key: 'comment', sortable: false },
                    { title: 'Actions', key: 'actions', sortable: false },
                ]

                var skillsLoading = ref(false)
                var skills = ref([])
                var trainings = ref([])
                var profileStates = ref([])
                var profiles = ref([])
                var expanded = ref([])
                var expandedRows = ref([])
                var expandedRowKey = ref(null)
                var totalProfiles = ref(0)
                var loading = ref(false)
                var dialog = ref(false)
                var editedIndex = ref(-1)
                const dialogDelete = ref(false);
                const deleteId = ref(null)
                var form = ref(false)
                var similarityMessage = ref("")
                var defaultItem = ref({
                    id: null,
                    name: "",
                    surname: "",
                    email: "",
                    number: "",
                    birthday: "",
                    state: "",
                    town: "",
                    skills: [],
                    trainings: [],
                    diplomas: "",
                    comment: "",
                    followup: "",
                    files: []
                })
                var selectedFiles = ref([])
                var editedItem = ref({
                    id: null,
                    name: "",
                    surname: "",
                    email: "",
                    birthday: "",
                    number: "",
                    state: null,
                    town: "",
                    skills: [],
                    trainings: [],
                    diplomas: "",
                    comment: "",
                    followup: "",
                    files: []
                })
                var pagination = ref({
                    page: 1,
                    itemsPerPage: 20,
                    total: 0,
                    sortBy: null
                })
                var paginationFiltersCustom = ref({
                    skills: [],
                    states: [],
                    trainings: [],
                    search: ""
                })

                const onRowClick = (item) => {
                    expandedRowKey.value = item.id
                }

                const handleFileChange = (event) => {
                    selectedFiles.value = Array.from(event.target.files);
                }

                const profileSimilarityCheck = async () => {
                    if (editedItem.value.id) {
                        similarityMessage.value = ""
                        return
                    }
                    try {
                        const res = await axios.get('{% url 'check_profile' %}', { params: editedItem.value }, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                                'Content-Type': 'application/json',
                            }
                        });
                        console.log("profile similarity: ", res.data)
                        const existingAttrs = res.data;
                        if (Object.keys(existingAttrs).length === 0) {
                            similarityMessage.value = "";
                        } else {
                            const errorMessages = {
                                email: "email",
                                number: "numéro",
                                surname: "nom",
                            };

                            let conflicts = Object.keys(existingAttrs)
                                .filter((key) => existingAttrs[key])
                                .map((key) => errorMessages[key])
                                .join("/");

                            similarityMessage.value = `Un profil avec le(s) même(s) ${conflicts} existe déjà`;
                        }

                        // skills.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        // similarityMessage.value = ""
                    }
                }

                const fetchProfiles = async (options) => {
                    //console.log("fetching profiles with options", options)
                    //console.log("fetching profiles with pagination", pagination.value)
                    loading.value = true;

                    const { itemsPerPage, page, sortBy } = options?.itemsPerPage ? options : pagination.value;
                    const sortField = sortBy[0] || null;
                    try {
                        let params = {
                            search: paginationFiltersCustom.value.search,
                            skills: paginationFiltersCustom.value.skills.join(','),
                            states: paginationFiltersCustom.value.states.join(','),
                            trainings: paginationFiltersCustom.value.trainings.join(','),
                            start: (page - 1) * itemsPerPage,
                            sortBy: sortField, //sortBy,
                            length: itemsPerPage
                        }
                        //console.log("params: ", params)
                        let res = await axios.get('{% url 'profiles_data' %}', {
                            params: params
                        })
                        //console.log("res.data: ", res.data)
                        console.log("res.data.profiles: ", res.data.profiles)
                        profiles.value = res.data.profiles
                        totalProfiles.value = res.data.recordsFiltered;

                        Object.assign(pagination.value, { itemsPerPage, page, sortBy });

                        expanded.value = profiles.value

                        if (expandedRowKey.value) {
                            expandedRows.value = [profiles.value.find(item => item.id === expandedRowKey.value)];
                        }
                        //console.log("profiles: ", profiles.value)
                    } catch (err) {
                        console.log(err)
                    } finally {
                        loading.value = false;
                    }
                }

                // dialog
                const close = () => {
                    dialog.value = false
                    nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem.value)
                        editedIndex.value = -1
                    })
                }

                const saveProfile = async () => {
                    console.log("submitting profile ",)
                    // profiles_create 
                    const response = await axios.post(
                        '{% url 'profiles_create' %}',
                        editItem.value, {
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json',
                        },
                    });
                }

                const closeDelete = () => {
                    dialogDelete.value = false
                    nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem.value)
                        editedIndex.value = -1
                    })
                }

                const deleteItem = (id) => {
                    deleteId.value = id
                    //editedIndex.value = profiles.value.indexOf(item)
                    //editedItem.value = Object.assign({}, item)
                    dialogDelete.value = true
                }

                const deleteItemConfirm = async () => {
                    if (deleteId.value != null) {
                        console.log("delete id ", deleteId.value)
                        try {
                            await axios.delete(
                                `{% url 'profile_delete' %}?id=${deleteId.value}`, {
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            fetchProfiles();
                        } catch (err) {
                            console.error('Failed to delete the profile:', err);
                        }
                    }
                    deleteId.value = null
                    closeDelete()
                }

                const editItem = async (item) => {
                    console.log("edit item item: ", item)
                    await Promise.all([
                        fetchStates(),
                        fetchSkills(),
                        fetchTrainings(),
                    ]);
                    editedIndex.value = profiles.value.indexOf(item)
                    editedItem.value = Object.assign({}, item)
                    //editedItem.value.name = item.name
                    dialog.value = true
                }

                /* export */
                const exportProfile = async (profile) => {
                    let id = profile.id
                    console.log("export profile id", id)
                    try {
                        let params = {
                            id: id
                        }
                        const response = await axios.get(`{% url 'export_profile_pdf' %}?id={id}`, {
                            params: params,
                            responseType: 'blob'  // This ensures you get a file response
                        });

                        let namePart = [profile.name, profile.surname].filter(Boolean).join('_'); // Combine name and surname if they exist
                        let filename = `export_profil${namePart ? `_${namePart}` : ''}`; // Append namePart only if it's not empty


                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', `${filename}.pdf`); // Use the dynamically generated filename
                        document.body.appendChild(link);
                        link.click();
                    } catch (error) {
                        console.error('Error exporting profile pdf :', error);
                        alert("Error exporting profile PDF: ", error)
                    }

                }

                const exportData = async () => {
                    console.log("export")
                    try {
                        let params = {
                            search: paginationFiltersCustom.value.search,
                            skills: paginationFiltersCustom.value.skills.join(','),
                            states: paginationFiltersCustom.value.states.join(','),
                            trainings: paginationFiltersCustom.value.trainings.join(','),
                        }
                        //console.log("params: ", params)
                        const response = await axios.get('{% url 'export_profiles_csv' %}', {
                            params: params,
                            responseType: 'blob'  // This ensures you get a file response
                        });
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'export_profils.xlsx');  // Filename
                        document.body.appendChild(link);
                        link.click();
                    } catch (error) {
                        console.error('Error exporting CSV:', error);
                        alert("Error exporting CSV: ", error)
                    }
                }

                /* file */
                const openFile = (file) => {
                    window.open(file.file, '_blank');
                };

                const printFile = (file) => {
                    const printWindow = window.open(file.file, '_blank', 'width=800,height=600');

                    printWindow.onload = () => {
                        printWindow.focus(); // Focus on the new window
                        printWindow.print(); // Trigger the print dialog
                        // printWindow.close(); // Close the window after printing
                    };
                }

                const deleteFile = async (file) => {
                    console.log("deletegin")
                    try {
                        await axios.delete(
                            `{% url 'delete_file' %}?id=${file.id}`, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        fetchProfiles(); // Refresh profiles to update the list of files
                    } catch (err) {
                        console.error('Failed to delete the file:', err);
                        alert("Failed to delete the file")
                    }
                };

                /* delete comment */
                const deleteComment = async (comment) => {
                    console.log("deleting comment", comment)
                    try {
                        await axios.delete(
                            `{% url 'delete_comment' %}?id=${comment.id}`, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        fetchProfiles();
                    } catch (err) {
                        console.error('Failed to delete the comment:', err);
                        alert("Failed to delete the comment")
                    }
                }

                /* delete followup */
                const deleteFollowup = async (flw) => {
                    console.log("deleting followup", flw)
                    try {
                        await axios.delete(
                            `{% url 'delete_followup' %}?id=${flw.id}`, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        fetchProfiles();
                    } catch (err) {
                        console.error('Failed to delete the flw:', err);
                        alert("Failed to delete the flw")
                    }
                }

                /* skill */
                const getSkillColor = (index) => {
                    const colors = ['red', 'blue', 'green', 'purple', 'orange'];
                    return colors[index % colors.length];
                }

                const fetchSkills = async () => {
                    skillsLoading.value = true
                    try {
                        let res = await axios.get('{% url 'skills_data' %}')
                        //console.log("skills: ", res.data)
                        skills.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        skillsLoading.value = false
                    }
                }

                const fetchTrainings = async () => {
                    skillsLoading.value = true
                    try {
                        let res = await axios.get('{% url 'trainings_data' %}')
                        //console.log("trainings: ", res.data)
                        trainings.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        skillsLoading.value = false
                    }
                }

                const fetchStates = async () => {
                    //skillsLoading.value = true
                    try {
                        let res = await axios.get('{% url 'states_data' %}')
                        //console.log("states: ", res.data)
                        profileStates.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        //skillsLoading.value = false
                    }
                }

                onMounted(async () => {
                    await Promise.all([
                        fetchStates(),
                        fetchSkills(),
                        fetchTrainings(),
                    ]);
                })

                watch(dialogDelete, (val) => {
                    if (!val) closeDelete();
                });


                watch(paginationFiltersCustom, (val) => {
                    // console.log("filters changed", paginationFiltersCustom.value)
                    fetchProfiles()
                }, { deep: true });

                watch(dialog, (val) => {
                    if (!val) close();
                });

                watch([editedItem], async (val) => {
                    /* don't check if closing the dialog */
                    if (dialog.value == false) {
                        console.log("not cheking")
                        return
                    }
                    await profileSimilarityCheck()
                }, { deep: true });

                var formTitle = computed(() => {
                    return editedIndex.value === -1 ? 'Création' : 'Modification'
                })

                return {
                    rules, deleteFollowup, trainings, fetchTrainings, handleFileChange, selectedFiles, exportProfile, similarityMessage, form, exportData, expandedRowKey, expandedRows, onRowClick, deleteComment, pagination, paginationFiltersCustom, profileStates, editedIndex, saveProfile, editedItem, editItem, deleteItem, dialogDelete, closeDelete, deleteItemConfirm, skills, fetchSkills, skillsLoading, defaultItem, formTitle, profiles, totalProfiles, headers, loading, fetchProfiles, expanded, dialog, openFile, printFile, deleteFile, getSkillColor
                }
            }
        })
        app.config.compilerOptions.delimiters = ['${', '}']
        app.use(vuetify).mount("#app")
    </script>
</body>

</html>


{% endblock %}