{% extends 'main.html' %}

{% block title: %}Profiles{% endblock %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .v-card--reveal {
            align-items: center;
            bottom: 0;
            justify-content: center;
            opacity: 0.9;
            position: absolute;
            width: 100%;
        }

        .v-overlay__content {
            height: 100%;
            width: 100%;
        }

        tbody tr:nth-of-type(odd) {
            background-color: rgba(160, 160, 160, 0.05);
        }

        .files-grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
        }

        .files-grid-item {
            text-align: center;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div id="app" style="width: 100%;">
        <v-app>
            <v-main>
                <v-data-table-server :headers="headers" :items="profiles" :items-length="totalProfiles"
                    :loading="loading" show-expand @update:options="fetchProfiles" :expanded.sync="expandedRows"
                    @click:row="onRowClick" no-data-text="Pas de profils" :items-per-page-options="[
                    {value: 2, title: '2'},
                    {value: 4, title: '4'},
                    {value: 10, title: '10'},
                    {value: 20, title: '20'}
                  ]">

                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title class="text-h4">Profils</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" style="height: 100%; width: 60%;">
                                {% if perms.profiles.add_profile %}
                                <template v-slot:activator="{ props }">
                                    <v-btn class="mb-2 text-h6" color="blue-darken-4 " rounded="45" variant="flat" dark
                                        v-bind="props" @click="editItem({})">
                                        Créer
                                    </v-btn>
                                </template>
                                {% endif %}

                                <v-form v-model="form" method="POST" action="{% url 'profiles_create' %}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <input type="hidden" name="id" id="profile-id" :value="editedItem.id">
                                    <v-card>
                                        <v-card-title>
                                            <span class="text-h4">${formTitle}</span>
                                        </v-card-title>
                                        <v-card-text class="p-2">
                                            <span class="text-red">${similarityMessage}</span>
                                            <v-row cols="12">
                                                <v-col cols="4">
                                                    <!-- {{is_editor_or_admin}} -->
                                                    <v-text-field v-model="editedItem.surname" label="Nom"
                                                        name="surname" prepend-inner-icon="mdi-account"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-text-field>
                                                </v-col>
                                                <v-col cols=" 4">
                                                    <v-text-field v-model="editedItem.name" label="Prénom" name="name"
                                                        variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.town" label="Localisation"
                                                        name="town" prepend-inner-icon="mdi-map-marker"
                                                        variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.email" label="E-mail" name="email"
                                                        prepend-inner-icon="mdi-at"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"
                                                        variant="underlined"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="editedItem.number" label="Numéro"
                                                        name="number" prepend-inner-icon="mdi-phone"
                                                        variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-textarea v-model="editedItem.diplomas" label="Diplômes"
                                                        name="diplomas" prepend-icon="mdi-certificate" rows="2"
                                                        auto-grow variant="underlined"
                                                        :readonly="!{% if is_editor_or_admin == True %} true {% else %} false {% endif %}"></v-textarea>
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="12">
                                                    <span class="text-h5">Compétences</span>
                                                    <v-chip-group v-if="true" v-model="editedItem.skills" column
                                                        selected-class="text-green" multiple>
                                                        <v-chip v-for="(skill, i) in skills" :key="skill" :value="skill"
                                                            text variant="outlined" filter>
                                                            ${ skill.name }
                                                        </v-chip>
                                                    </v-chip-group>
                                                    <input type="hidden" name="skills"
                                                        :value="editedItem.skills?.map(s => s.id) || []">

                                                </v-col>
                                            </v-row>
                                            <v-row cols="12">
                                                <v-col cols="6">
                                                    <v-textarea v-model="editedItem.comment" label="Commentaires"
                                                        name="comment" prepend-icon="mdi-comment"
                                                        variant="underlined"></v-textarea>
                                                </v-col>
                                                <v-col cols="6">
                                                    <span class="text-h5">Statut du candidat</span>
                                                    <v-chip-group v-if="true" v-model="editedItem.state" column
                                                        selected-class="text-blue">
                                                        <v-chip v-for="(state, i) in profileStates" :key="state"
                                                            :value="state" text variant="outlined" filter>
                                                            ${ state.name }
                                                        </v-chip>
                                                    </v-chip-group>
                                                    <input type="hidden" name="state"
                                                        :value="editedItem.state?.id || null">
                                                </v-col>
                                            </v-row>
                                            <v-row cols="12" v-if="true">
                                                <v-col cols="12">
                                                    <span class="text-h5">Fichiers</span>
                                                    <div class="image-upload mt-2 ">
                                                        <label for="files">
                                                            <span
                                                                class="border-dashed rounded-lg grey-lighten-1 pa-2">Choisir
                                                                des fichiers</span>
                                                            <!-- <v-icon color="grey" x-large>mdi-file-upload</v-icon> -->

                                                        </label>

                                                        <input name="files" id="files" type="file" multiple
                                                            style="display: none;" />
                                                    </div>
                                                </v-col>
                                            </v-row>

                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn :loading="loading" class="text-none mb-4 right" color="green"
                                                type="submit" size="x-large" variant="flat" block>
                                                Enregistrer
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    </form>
                                    <!-- <v-card-actions>
                                        <v-btn color="blue-darken-1" variant="text" @click="saveProfile">
                                            Sauvegarder
                                        </v-btn>
                                    </v-card-actions> -->

                            </v-dialog>


                        </v-toolbar>
                        <v-container flat class="px-5">
                            <!-- ${paginationFilters} -->
                            <v-row>
                                <v-col cols="7">
                                    <v-select :items="skills" v-model="paginationFiltersCustom.skills"
                                        label="Compétences" item-title="name" chips multiple item-text="name"
                                        item-value="id" hide-details variant="underlined" prepend-inner-icon="mdi-tools"
                                        dense></v-select>
                                </v-col>
                                <v-col cols="5">
                                    <v-select :items="profileStates" v-model="paginationFiltersCustom.states"
                                        label="Etat candidature" item-title="name" chips multiple item-text="name"
                                        item-value="id" hide-details variant="underlined"
                                        prepend-inner-icon="mdi-account-alert" dense></v-select>
                                </v-col>
                            </v-row>
                            <v-row cols="12" align="center" justify="space-around">

                                <v-col cols="3">
                                    <v-text-field v-model="paginationFiltersCustom.search" label="Recherche"
                                        prepend-inner-icon="mdi-magnify" variant="underlined" hide-details
                                        single-line></v-text-field>
                                </v-col>
                                <v-col cols="2">
                                    <v-btn class="text-none ms-4 text-white" color="blue-darken-4 " rounded="0"
                                        variant="flat" @click="exportData">
                                        <v-icon left>mdi-file-export</v-icon>
                                        Exporter
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-container>
                    </template>

                    <!-- skills -->
                    <template v-slot:item.skills="{ value }">
                        <div class="ma-1" style="display: flex; flex-direction: column; gap: 4px" bg-red>
                            <v-chip v-for="(skill, i) in value" :color="getSkillColor(i)"> ${skill.name}
                            </v-chip>
                        </div>
                    </template>

                    <template v-slot:expanded-row="{ columns, item }">
                        <td :colspan="columns.length">
                            <v-card v-if="true" id="expand-div" style="display: flex; ">
                                <div style="flex-basis: 100%" class="bg-greenn">
                                    <v-card-title>Données personnelles</v-card-title>
                                    <v-card-text>
                                        <v-row class="align-center">
                                            <v-col cols="auto">
                                                <v-icon large>mdi-email</v-icon>
                                            </v-col>
                                            <v-col>
                                                <p class="text-body-1">${item.email}</p>
                                            </v-col>

                                        </v-row>
                                        <v-row class="align-center">
                                            <v-col cols="auto">
                                                <v-icon large>mdi-phone</v-icon>
                                            </v-col>
                                            <v-col>
                                                <p class="text-body-1">${item.number}</p>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>

                                    <v-card-title>Fichier(s)</v-card-title>
                                    <v-card-text v-if="true" class="files-grid-container">
                                        <div v-for="file in item.files" :key="file.id" class="files-grid-item">
                                            <v-hover v-slot="{ isHovering, props }">
                                                <v-card class="mx-auto" color="grey-lighten-4" max-width="600"
                                                    v-bind="props">
                                                    <v-card-title :class="{ 'opacity-100': isHovering }">
                                                        ${file.file_name}
                                                    </v-card-title>
                                                    <v-overlay id="overlay" :model-value="!!isHovering"
                                                        class="d-flex justify-center align-center w-100 h-100"
                                                        scrim="#036358" contained>
                                                        <div class="d-flex justify-space-around align-center transition-fast-in-fast-out bg-blue-lighten-2
                                                                        v-card--reveal "
                                                            style="height: 100%; width: 100%;">
                                                            <v-icon color="white"
                                                                @click="openFile(file)">mdi-eye</v-icon>
                                                            <v-icon color="white"
                                                                @click="printFile(file)">mdi-printer</v-icon>
                                                            {% if perms.profiles.delete_profilefile %}
                                                            <v-icon color="white"
                                                                @click="deleteFile(file)">mdi-delete</v-icon>
                                                            {% endif %}
                                                        </div>
                                                    </v-overlay>
                                                </v-card>
                                            </v-hover>
                                        </div>
                                    </v-card-text>

                                </div>
                                <v-divider vertical></v-divider>
                                <v-card style="flex-basis: 100%">
                                    <v-card-title>Commentaires</v-card-title>
                                    <v-card-text>
                                        <v-timeline align="start" side="end">
                                            <v-timeline-item v-for="(com, i) in item.comments" :key="i">
                                                <v-card>
                                                    <v-card-title :class="['text-subtitle-1', `bg-${item.color}`]">
                                                        ${com.user.username} - ${com.creation_date}
                                                    </v-card-title>
                                                    <v-card-text class="bg-white text--primary">
                                                        <v-row>
                                                            <v-col cols="10">
                                                                <p>${com.text}</p>
                                                            </v-col>
                                                            <v-col cols="2" class="d-flex justify-center align-center">
                                                                {% if perms.profiles.delete_comment %}
                                                                <v-icon size="36" color="grey-darken-3"
                                                                    @click="deleteComment(com)"> mdi-delete
                                                                </v-icon>
                                                                {% endif %}
                                                            </v-col>
                                                        </v-row>
                                                    </v-card-text>
                                                </v-card>
                                            </v-timeline-item>
                                        </v-timeline>
                                    </v-card-text>
                                </v-card>
                            </v-card>
                        </td>
                    </template>

                    <template v-slot:item.actions=" { item }">
                        {% if perms.profiles.change_profile %}
                        <v-icon size="24" color="grey-darken-3" @click="editItem(item)">
                            mdi-pencil
                        </v-icon>
                        {% endif %}
                        {% if perms.profiles.delete_profile %}
                        <v-icon size="24" color="grey-darken-3" @click="deleteItem(item.id)"> mdi-delete </v-icon>
                        {% endif %}
                        <v-icon size="24" color="grey-darken-3" @click="exportProfile(item)"> mdi-file-export
                        </v-icon>
                    </template>
                </v-data-table-server>
                <!-- ${pagination} -->

                <v-dialog v-model="dialogDelete" style="width: 50%;">
                    <v-card>
                        <v-card-title class="text-h6">Êtes-vous sûr(e) de vouloir supprimer le profile
                            ?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Annuler</v-btn>
                            <v-btn color="white" class="bg-red" variant="text"
                                @click="deleteItemConfirm">Supprimer</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>

    <script type="module">
        const { createApp, ref, onMounted, computed, watch, nextTick } = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        const app = createApp({
            setup() {
                const headers = [
                    // { title: 'Date de création', key: 'creation_date', sortable: true },
                    { title: 'Modifié', key: 'update_date', sortable: false },
                    { title: 'Nom', key: 'surname', sortable: false },
                    { title: 'Prénom', key: 'name', sortable: false },
                    // { title: 'Email', key: 'email', sortable: false },
                    // { title: 'Numéro', key: 'number', sortable: false },
                    { title: 'Ville', key: 'town', sortable: false },
                    { title: 'Compétences', key: 'skills', sortable: false },
                    // { title: 'Etat', key: 'state', sortable: true },
                    { title: 'Etat candidature', key: 'state.name', sortable: false },
                    { title: 'Diplômes', key: 'diplomas', sortable: false },
                    // { title: 'Commentaires', key: 'comment', sortable: false },
                    { title: 'Actions', key: 'actions', sortable: false },
                ]

                var skillsLoading = ref(false)
                var skills = ref([])
                var profileStates = ref([])
                var profiles = ref([])
                var expanded = ref([])
                var expandedRows = ref([])
                var expandedRowKey = ref(null)
                var totalProfiles = ref(0)
                var loading = ref(false)
                var dialog = ref(false)
                var editedIndex = ref(-1)
                const dialogDelete = ref(false);
                const deleteId = ref(null)
                var form = ref(false)
                var similarityMessage = ref("")
                var defaultItem = ref({
                    id: null,
                    name: "",
                    surname: "",
                    email: "",
                    number: "",
                    state: "",
                    town: "",
                    skills: [],
                    diplomas: "",
                    comment: "",
                    files: []
                })
                var editedItem = ref({
                    id: null,
                    name: "",
                    surname: "",
                    email: "",
                    number: "",
                    state: null,
                    town: "",
                    skills: [],
                    diplomas: "",
                    comment: "",
                    files: []
                })
                var pagination = ref({
                    page: 1,
                    itemsPerPage: 20,
                    total: 0
                    //sortBy: "",    // Holds the column by which to sort
                    //sortDesc: false
                })
                var paginationFiltersCustom = ref({
                    skills: [],
                    states: [],
                    search: ""
                })

                const onRowClick = (item) => {
                    expandedRowKey.value = item.id
                }

                const profileSimilarityCheck = async () => {
                    if (editedItem.value.id) {
                        similarityMessage.value = ""
                        return
                    }
                    try {
                        const res = await axios.get('{% url 'check_profile' %}', { params: editedItem.value }, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                                'Content-Type': 'application/json',
                            }
                        });
                        console.log("profile similarity: ", res.data)
                        const existingAttrs = res.data;
                        let errorMessage = "Un profil avec le(s) même(s) "
                        if (Object.keys(existingAttrs).length === 0) {
                            similarityMessage.value = "";
                        } else {
                            if (existingAttrs.email && existingAttrs.number) {
                                errorMessage = "Un profil avec le même email/numéro existe déjà";
                            } else if (existingAttrs.number) {
                                errorMessage = "Un profil avec le même numéro existe déjà";
                            } else if (existingAttrs.email) {
                                errorMessage = "Un profil avec le même email existe déjà";
                            }
                            similarityMessage.value = errorMessage;
                        }

                        // skills.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        // similarityMessage.value = ""
                    }
                }

                const fetchProfiles = async (options) => {
                    console.log("fetching profiles with options", options)
                    console.log("fetching profiles with pagination", pagination.value)
                    loading.value = true;
                    let itemsPerPage = pagination.value.itemsPerPage
                    let page = pagination.value.page
                    try {
                        if (options) {
                            itemsPerPage = options.itemsPerPage
                            page = options.page
                        }
                        let params = {
                            search: paginationFiltersCustom.value.search,
                            skills: paginationFiltersCustom.value.skills.join(','),
                            states: paginationFiltersCustom.value.states.join(','),
                            start: (page - 1) * itemsPerPage,
                            length: itemsPerPage
                        }
                        //console.log("params: ", params)
                        let res = await axios.get('{% url 'profiles_data' %}', {
                            params: params
                        })
                        console.log("res.data: ", res.data)
                        console.log("res.data.profiles: ", res.data.profiles)
                        profiles.value = res.data.profiles
                        totalProfiles.value = res.data.recordsFiltered;
                        pagination.value.itemsPerPage = itemsPerPage
                        pagination.value.page = page

                        expanded.value = profiles.value

                        if (expandedRowKey.value) {
                            expandedRows.value = [profiles.value.find(item => item.id === expandedRowKey.value)];
                        }
                        //console.log("profiles: ", profiles.value)
                    } catch (err) {
                        console.log(err)
                    } finally {
                        loading.value = false;
                    }
                }

                // dialog
                const close = () => {
                    dialog.value = false
                    nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem.value)
                        editedIndex.value = -1
                    })
                }

                const saveProfile = async () => {
                    console.log("submitting profile ",)
                    // profiles_create 
                    const response = await axios.post(
                        '{% url 'profiles_create' %}',
                        editItem.value, {
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json',
                        },
                    });
                }

                const closeDelete = () => {
                    dialogDelete.value = false
                    nextTick(() => {
                        editedItem.value = Object.assign({}, defaultItem.value)
                        editedIndex.value = -1
                    })
                }

                const deleteItem = (id) => {
                    deleteId.value = id
                    //editedIndex.value = profiles.value.indexOf(item)
                    //editedItem.value = Object.assign({}, item)
                    dialogDelete.value = true
                }


                const deleteItemConfirm = async () => {
                    if (deleteId.value != null) {
                        console.log("delete id ", deleteId.value)
                        try {
                            await axios.delete(
                                `{% url 'profile_delete' %}?id=${deleteId.value}`, {
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            fetchProfiles();
                        } catch (err) {
                            console.error('Failed to delete the profile:', err);
                        }
                    }
                    deleteId.value = null
                    closeDelete()
                }

                const editItem = async (item) => {
                    console.log("edit item item: ", item)
                    await fetchSkills()
                    editedIndex.value = profiles.value.indexOf(item)
                    editedItem.value = Object.assign({}, item)
                    //editedItem.value.name = item.name
                    dialog.value = true
                }

                /* export */
                const exportProfile = async (profile) => {
                    let id = profile.id
                    console.log("export profile id", id)
                    try {
                        let params = {
                            id: id
                        }
                        const response = await axios.get(`{% url 'export_profile_pdf' %}?id={id}`, {
                            params: params,
                            responseType: 'blob'  // This ensures you get a file response
                        });
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'export_profil.pdf');  // Filename
                        document.body.appendChild(link);
                        link.click();

                        /* download
                        for (let file of profile.files) {
                            console.log("file ", file)
                            const fileExtension = file.file_name.split('.').pop().toLowerCase();
                            console.log("fileExtension ", fileExtension)
                            if (fileExtension === 'pdf' || fileExtension === 'docx') {
                                const fileResponse = await axios.get(file.file, {
                                    responseType: 'blob'
                                });
                                console.log("fileResponse ", fileResponse)
                                const fileUrl = window.URL.createObjectURL(new Blob([fileResponse.data]));
                                const fileLink = document.createElement('a');
                                fileLink.href = fileUrl;
                                fileLink.setAttribute('download', file.name);  // Use the file's original name
                                document.body.appendChild(fileLink);
                                fileLink.click();
                            }
                        } */
                    } catch (error) {
                        console.error('Error exporting profile pdf :', error);
                    }

                }

                const exportData = async () => {
                    console.log("export")
                    try {
                        let params = {
                            search: paginationFiltersCustom.value.search,
                            skills: paginationFiltersCustom.value.skills.join(','),
                            states: paginationFiltersCustom.value.states.join(','),
                        }
                        //console.log("params: ", params)
                        const response = await axios.get('{% url 'export_profiles_csv' %}', {
                            params: params,
                            responseType: 'blob'  // This ensures you get a file response
                        });
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'export_profils.csv');  // Filename
                        document.body.appendChild(link);
                        link.click();
                    } catch (error) {
                        console.error('Error exporting CSV:', error);
                    }
                }

                /* file */
                const openFile = (file) => {
                    window.open(file.file, '_blank');
                };

                const printFile = (file) => {
                    const printWindow = window.open(file.file, '_blank', 'width=800,height=600');

                    printWindow.onload = () => {
                        printWindow.focus(); // Focus on the new window
                        printWindow.print(); // Trigger the print dialog
                        // printWindow.close(); // Close the window after printing
                    };
                }

                const deleteFile = async (file) => {
                    console.log("deletegin")
                    try {
                        await axios.delete(
                            `{% url 'delete_file' %}?id=${file.id}`, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        fetchProfiles(); // Refresh profiles to update the list of files
                    } catch (err) {
                        console.error('Failed to delete the file:', err);
                    }
                };

                /* delete comment */
                const deleteComment = async (comment) => {
                    console.log("deleting comment", comment)
                    try {
                        await axios.delete(
                            `{% url 'delete_comment' %}?id=${comment.id}`, {
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        })
                        fetchProfiles();
                    } catch (err) {
                        console.error('Failed to delete the comment:', err);
                    }
                }

                /* skill */
                const getSkillColor = (index) => {
                    const colors = ['red', 'blue', 'green', 'purple', 'orange'];
                    return colors[index % colors.length];
                }

                const fetchSkills = async () => {
                    skillsLoading.value = true
                    try {
                        let res = await axios.get('{% url 'skills_data' %}')
                        //console.log("skills: ", res.data)
                        skills.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        skillsLoading.value = false
                    }
                }

                const fetchStates = async () => {
                    //skillsLoading.value = true
                    try {
                        let res = await axios.get('{% url 'states_data' %}')
                        //console.log("states: ", res.data)
                        profileStates.value = res.data
                    } catch (err) {
                        console.log("err: ", err)
                    } finally {
                        //skillsLoading.value = false
                    }
                }

                onMounted(async () => {
                    await fetchStates()
                    await fetchSkills()
                    // await fetchProfiles();
                })

                watch(dialogDelete, (val) => {
                    if (!val) closeDelete();
                });


                watch(paginationFiltersCustom, (val) => {
                    console.log("filters changed", paginationFiltersCustom.value)
                    fetchProfiles()
                }, { deep: true });

                watch(dialog, (val) => {
                    if (!val) close();
                });

                watch([editedItem], async (val) => {
                    // console.log("checking existents profile")
                    await profileSimilarityCheck()
                }, { deep: true });

                var formTitle = computed(() => {
                    return editedIndex.value === -1 ? 'Création' : 'Modification'
                })

                return {
                    exportProfile, similarityMessage, form, exportData, expandedRowKey, expandedRows, onRowClick, deleteComment, pagination, paginationFiltersCustom, profileStates, editedIndex, saveProfile, editedItem, editItem, deleteItem, dialogDelete, closeDelete, deleteItemConfirm, skills, fetchSkills, skillsLoading, defaultItem, formTitle, profiles, totalProfiles, headers, loading, fetchProfiles, expanded, dialog, openFile, printFile, deleteFile, getSkillColor
                }
            }
        })
        app.config.compilerOptions.delimiters = ['${', '}']
        app.use(vuetify).mount("#app")
    </script>
</body>

</html>


{% endblock %}